@if (carregandoInvestidor) {
<div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
}
@else{
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <div class="d-flex ms-auto">
                <select class="form-select me-2 text-success border-success" [(ngModel)]="idInvestidorSelecionado"
                    (change)="investidorSelecionado()">
                    <option value="" selected>Selecione o investidor</option>
                    @for (item of listaDeInvestidor; track $index) {
                    <option [value]="item.idInvestidor">{{ item.documentoFederal }}</option>
                    }
                </select>
            </div>
        </div>
    </div>
</nav>
}