<app-tabela-renda-fixa [listaDeColuna]="[
    { titulo: 'Investimento', campo: 'idInvestimento', pipe:null},
    { titulo: 'Data Resgate', campo: 'dtResgate', pipe:datePipe },
    { titulo: 'Valor Resgate', campo: 'nmValorResgate', pipe:currencyPipe},
    { titulo: 'Valor Imposto', campo: 'nmValorImposto', pipe:currencyPipe },
    { titulo: 'Valor Disponível', campo: 'nmValorDisponivel', pipe:currencyPipe},
    ]" [listaDeDado]="listaDeResgate()" (eventoVisualiza)="visualizaResgate($event)"
    textoVazio="Nenhum resgate encontrado.">
</app-tabela-renda-fixa>