@if (resgateModel().boCarregandoResgate) {
<div class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
}
@else{
<div class="row gx-4 gy-2 mb-3">

  <div class="col-12 col-lg-6 col-xxl-4">
    <label class="form-label">Selecione o Investimento</label>
    <select [(ngModel)]="investimentoModel" required class="form-select" #investimento="ngModel"
      [ngClass]="{'is-invalid': investimento.invalid && investimento.touched}">
      @for (item of listaDeInvestimentoModel(); track $index;) {
      <option [ngValue]="item">{{ item.idInvestimento }}</option>
      }
    </select>
    @if(investimento.invalid && investimento.touched){
    <div class="invalid-feedback">Investimento é obrigatório.</div>
    }
  </div>

  <div class="col-12 col-lg-6 col-xxl-4">
    <label class="form-label">Valor Disponível</label>
    <input type="text" required class="form-control" [value]="investimentoModel().nmValorFinal | currency:'BRL'"
      disabled />
  </div>

  <div class="col-12 col-lg-6 col-xxl-4">
    <label class="form-label">Valor Resgate</label>
    <input type="number" [(ngModel)]="resgateModel().nmValorResgate" required class="form-control"
      #valorResgate="ngModel" [min]="1" [max]="investimentoModel().nmValorFinal"
      [ngClass]="{'is-invalid': valorResgate.invalid && valorResgate.touched}" />
    @if(valorResgate.invalid && valorResgate.touched){
    <div class="invalid-feedback">{{ resgateModel().nmValorResgate > investimentoModel().nmValorFinal ?
      'Valor resgate tem que ser menor que o valor disponível.' :
      'Valor resgate é obrigatório.'}}</div>
    }
  </div>
</div>

<div class="d-flex justify-content-between">
  <button type="button" class="btn btn-outline-primary" (click)="volta()">Volta</button>
  <button type="button" class="btn btn-outline-success" (click)="adicionaResgate()">Adiciona</button>
</div>
}