<app-cartao-renda-fixa [listaDePropriedade]="[
    { titulo: 'Data Resgate', propriedade: 'dtResgate', pipe: datePipe},
    { titulo: 'Valor Resgate', propriedade: 'nmValorResgate', pipe: currencyPipe},
    { titulo: 'Valor Imposto', propriedade: 'nmValorImposto', pipe: currencyPipe},
    { titulo: 'Valor IOF', propriedade: 'nmValorIof', pipe: currencyPipe},
    { titulo: 'Valor Imposto de Renda', propriedade: 'nmValorIrrf', pipe: currencyPipe},
    
    { titulo: 'Valor Disponível', propriedade: 'nmValorDisponivel', pipe: currencyPipe}
]" [dado]="resgateSignal()" [tituloCartao]="'resgate'"></app-cartao-renda-fixa>